data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/C2B/V1/RequesterABCS/QueryUnbilledChargesC2BReqABCSImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="QueryUnbilledChargesC2BReqABCSImpl" targetNamespace="http://xmlns.oracle.com/ABCSImpl/C2B/Industry//QueryUnbilledChargesC2BReqABCSImpl/V1" xmlns:serviceusageeboabcs="http://xmlns.oracle.com/ABCSImpl/BRMComms/Industry//QueryUnbilledChargesBRMCommsProvABCSImpl/V1" xmlns:CommsC2Babo="http://www.telia.org/c2b/unbilledcharges" xmlns:CommsC2Babcs="http://xmlns.oracle.com/ABCSImpl/C2B/Industry//QueryUnbilledChargesC2BReqABCSImpl/V1" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<documentation>
<svcdoc:Service>
<svcdoc:Description/>
<svcdoc:ServiceType>RequesterABCSImpl</svcdoc:ServiceType>
<svcdoc:Version>1</svcdoc:Version>
<svcdoc:ProductCode>SEBL</svcdoc:ProductCode>
</svcdoc:Service>
</documentation>
<import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://www.telia.org/c2b/unbilledcharges" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/C2B/V1/schemas/QueryUnbilledC2b.xsd"/>
<import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
</schema>
</types>
<message name="QueryUnbilledChargesReqMsg">
<part name="QueryUnbilledCharges" element="CommsC2Babo:QueryUnBilledChargesRequest"/>
</message>
<message name="QueryUnbilledChargesRespMsg">
<part name="QueryUnbilledChargesResponse" element="CommsC2Babo:QueryUnBilledChargesResponse"/>
</message>
<message name="QueryUnbilledChargesFaultMsg">
<part name="QueryUnbilledChargesFault" element="CommsC2Babo:GetBalanceGroupsFault"/>
</message>
<portType name="QueryUnbilledChargesC2BReqABCSImpl">
<operation name="QueryUnbilledCharges">
<documentation>
<svcdoc:Operation>
<svcdoc:Description>This operation is used to Query an UnbilledCharges
                              object</svcdoc:Description>
<svcdoc:MEP>SyncReqResp</svcdoc:MEP>
</svcdoc:Operation>
</documentation>
<input message="CommsC2Babcs:QueryUnbilledChargesReqMsg"/>
<output message="CommsC2Babcs:QueryUnbilledChargesRespMsg"/>
<fault message="CommsC2Babcs:QueryUnbilledChargesFaultMsg" name="GetBalanceGroupsFault"/>
</operation>
</portType>
<plnk:partnerLinkType name="QueryUnbilledChargesC2BReqABCSImpl">
<plnk:role name="QueryUnbilledChargesC2BReqABCSImplProvider">
<plnk:portType name="CommsC2Babcs:QueryUnbilledChargesC2BReqABCSImpl"/>
</plnk:role>
</plnk:partnerLinkType>
</definitions>