data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/Siebel/V1/schemas/SWICustomerPartyIO.xsd

<xsd:schema targetNamespace="http://www.siebel.com/xml/SWICustomerPartyIO" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.siebel.com/xml/SWICustomerPartyIO">
   <xsd:annotation>
      <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
   </xsd:annotation>
   <xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio"/>
   <xsd:complexType name="ListOfSwicustomerpartyioTopElmt">
      <xsd:sequence>
         <xsd:element name="ListOfSwicustomerpartyio" type="xsdLocal:ListOfSwicustomerpartyio" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfSwicustomerpartyio">
      <xsd:sequence>
         <xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Account">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Created" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountTypeCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="DUNSNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="HomePage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Location" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MasterAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryBillToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SSN" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSChannel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSGlobalAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSVIPFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSSalesTeamId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSSubSegment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSInsolvencyStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSVATNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSVATCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <xsd:element name="TSDateOfExpiry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <!-- Start : XDSL-1567 RAG-225 Changes in AIA for 18.2 XDSL Move. -Ashwath-->
		 <xsd:element name="ParentSubSegment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <!--End : XDSL-1567 RAG-225 Changes in AIA for 18.2 XDSL Move. -Ashwath-->
         <xsd:element name="PrimaryBillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSCustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <!-- Start : MDU-223 RAG-192 Changes in AIA for 18.1 MDU. -Ashwath-->
		 <xsd:element name="TSPropertyId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <xsd:element name="TSKOSAType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <!-- End : MDU-223 RAG-192 Changes in AIA for 18.1 MDU. -Ashwath-->
         <xsd:element name="ListOfAccount_Contact" type="xsdLocal:ListOfAccount_Contact" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfCutAddress" type="xsdLocal:ListOfCutAddress" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfContact" type="xsdLocal:ListOfContact" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfInternalDivision" type="xsdLocal:ListOfInternalDivision" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfComInvoiceProfile" type="xsdLocal:ListOfComInvoiceProfile" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfComExemptionsProfile" type="xsdLocal:ListOfComExemptionsProfile" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfComStatementProfile" type="xsdLocal:ListOfComStatementProfile" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfPosition" type="xsdLocal:ListOfPosition" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfAccountNote" type="xsdLocal:ListOfAccountNote" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfCutAccount-BillToShipTo" type="xsdLocal:ListOfCutAccount-BillToShipTo" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfAccount_BusinessAddress" type="xsdLocal:ListOfAccount_BusinessAddress" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfAccount_Contact">
      <xsd:sequence>
         <xsd:element name="Account_Contact" type="xsdLocal:Account_Contact" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Account_Contact">
      <xsd:sequence>
         <xsd:element name="MVGContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PersonalContact" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmployeeNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryAccountName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryOrganization2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MobilePhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FirstName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastUpdEmail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastUpdFixed" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastUpdMobile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="Operation" type="xsd:string"/>
      <xsd:attribute name="Searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfCutAddress">
      <xsd:sequence>
         <xsd:element name="CutAddress" type="xsdLocal:CutAddress" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CutAddress">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AddressType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DisableDataCleansing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MainAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSPointId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSShippingAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSInstallationAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSBillingAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSLegalAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfContact">
      <xsd:sequence>
         <xsd:element name="Contact" type="xsdLocal:Contact" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Contact">
      <xsd:sequence>
         <xsd:element name="TSLastUpdMobile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSLastUpdFixed" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSLastUpdEmail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Alias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactPersonTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DateofBirth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FirstName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Gender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="JobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="MM" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MotherMaidenName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SuppressAllCalls" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SuppressAllEmails" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SuppressAllFaxes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SuppressAllMailings" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ConsumerLink" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfPersonalAddress" type="xsdLocal:ListOfPersonalAddress" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfInternalDivision">
      <xsd:sequence>
         <xsd:element name="InternalDivision" type="xsdLocal:InternalDivision" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InternalDivision">
      <xsd:sequence>
         <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Organization" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="OrganizationId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfComInvoiceProfile">
      <xsd:sequence>
         <xsd:element name="ComInvoiceProfile" type="xsdLocal:ComInvoiceProfile" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComInvoiceProfile">
      <xsd:sequence>
         <xsd:element name="BillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankAccountName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankAccountType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankAuthorizationflag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankBranch" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankLanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankLanguageId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BankName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillAverage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillCycle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillCycleDay" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillFrequency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillSequence" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillVendorId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BudgetBillingFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CPNIDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CPNIFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CollectionsFlag" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardBlockFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardBlockReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardExpirationDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardExpirationMonth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardExpirationYear" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardNumberEncryptkeyReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardSecurityCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardVerificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreditCardVerificationNumberEncryptionKey" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DaysToCash" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailBillTo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ExternalBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ExternalBillingAccountNumber-Old" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ExtraCopies" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="InterestatInvoiceFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastBillAmount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastBillDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MediaType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillingProfileName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="NoPayFormFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NumberofManualInvoices" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PaymentMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ReasonforManualOutsource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RepeatDebtorFlag" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="RoutingNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StandingOrderFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StatementFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="YearlyAdvancePaymentFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSOrganizationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSBankId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSCareOf" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSAccountType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <!--Start: R9.0 gap 52B change Nishant 21-Apr-2016-->
         <xsd:element name="TSBillingReferenceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <!--End: R9.0 gap 52B change Nishant 21-Apr-2016-->
		 
		  <!--Start: R12.0 gap BCT-412 Ari 12/9/2016-->
		 <xsd:element name="TSAttentionInformation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		  <!--End: R12.0 gap BCT-412 Ari 12/9/2016-->

		 <!--Start BCT-226 R14.0 Payment Term Ari 7/10/2016 -->
		  <xsd:element name="TSPaymentTerm" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		 <!--End BCT-226 R14.0 Payment Term Ari 7/10/2016 -->
		 <!--start : R17.2-sprint_12 : GAP ID 121 – PRE-REGISTERED CREDIT CARD PAYMENT TO BANK GATEWAYS -->
		 <xsd:element name="TSCCReferenceNum" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		 <!--end : R17.2-sprint_12 : GAP ID 121 – PRE-REGISTERED CREDIT CARD PAYMENT TO BANK GATEWAYS -->		  
         <xsd:element name="ListOfCutAddressCopy" type="xsdLocal:ListOfCutAddressCopy" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfContactQuery" type="xsdLocal:ListOfContactQuery" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfComExemptionsProfile">
      <xsd:sequence>
         <xsd:element name="ComExemptionsProfile" type="xsdLocal:ComExemptionsProfile" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComExemptionsProfile">
      <xsd:sequence>
         <xsd:element name="LifeSupportFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SpecialDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfComStatementProfile">
      <xsd:sequence>
         <xsd:element name="ComStatementProfile" type="xsdLocal:ComStatementProfile" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComStatementProfile">
      <xsd:sequence>
         <xsd:element name="ContactFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactLastName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="EmailBillTo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MediaType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ExtraCopies" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactFaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactWorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StatementProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="StatementFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Zipcode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfPosition">
      <xsd:sequence>
         <xsd:element name="Position" type="xsdLocal:Position" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Position">
      <xsd:sequence>
         <xsd:element name="AccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ActiveEmail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ActiveFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ActiveJobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ActiveLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LoginId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PositionId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfAccountNote">
      <xsd:sequence>
         <xsd:element name="AccountNote" type="xsdLocal:AccountNote" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AccountNote">
      <xsd:sequence>
         <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CreatedDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ModId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Note" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Private" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Updated" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="UpdatedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AccountId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="NoteType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfCutAccount-BillToShipTo">
      <xsd:sequence>
         <xsd:element name="CutAccount-BillToShipTo" type="xsdLocal:CutAccount-BillToShipTo" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CutAccount-BillToShipTo">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="HomePage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastModified" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Location" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryBillToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryShipToAddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Region" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="RowId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Name2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfCUTAccount-BillToShipTo_BillToBusinessAddress" type="xsdLocal:ListOfCUTAccount-BillToShipTo_BillToBusinessAddress" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ListOfCUTAccount-BillToShipTo_ShipToBusinessAddress" type="xsdLocal:ListOfCUTAccount-BillToShipTo_ShipToBusinessAddress" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfAccount_BusinessAddress">
      <xsd:sequence>
         <xsd:element name="Account_BusinessAddress" type="xsdLocal:Account_BusinessAddress" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Account_BusinessAddress">
      <xsd:sequence>
         <xsd:element name="TSPointId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ApartmentNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSBillingAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSInstallationAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSLegalAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSShippingAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfPersonalAddress">
      <xsd:sequence>
         <xsd:element name="PersonalAddress" type="xsdLocal:PersonalAddress" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonalAddress">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AIAIntegrationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCutAddressCopy">
      <xsd:sequence>
         <xsd:element name="CutAddressCopy" type="xsdLocal:CutAddressCopy" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CutAddressCopy">
      <xsd:sequence>
         <xsd:element name="County" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Province" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressLine1" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressLine4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressLine6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TSPointId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfContactQuery">
      <xsd:sequence>
         <xsd:element name="ContactQuery" type="xsdLocal:ContactQuery" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactQuery">
      <xsd:sequence>
         <xsd:element name="CellularPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="HomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="JobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="MiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCUTAccount-BillToShipTo_BillToBusinessAddress">
      <xsd:sequence>
         <xsd:element name="CUTAccount-BillToShipTo_BillToBusinessAddress" type="xsdLocal:CUTAccount-BillToShipTo_BillToBusinessAddress" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CUTAccount-BillToShipTo_BillToBusinessAddress">
      <xsd:sequence>
         <xsd:element name="BillToCountry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToCounty" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToPostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToProvince" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToStreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToStreetAddress3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BillToCity" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="BillToStreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="ListOfCUTAccount-BillToShipTo_ShipToBusinessAddress">
      <xsd:sequence>
         <xsd:element name="CUTAccount-BillToShipTo_ShipToBusinessAddress" type="xsdLocal:CUTAccount-BillToShipTo_ShipToBusinessAddress" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CUTAccount-BillToShipTo_ShipToBusinessAddress">
      <xsd:sequence>
         <xsd:element name="ShipToCountry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToCounty" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToPostalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToProvince" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToStreetAddress2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToStreetAddress3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ShipToCity" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="ShipToStreetAddress" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AddressName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
      <xsd:attribute name="operation" type="xsd:string"/>
      <xsd:attribute name="searchspec" type="xsd:string"/>
   </xsd:complexType>
</xsd:schema>