data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/UIM/schemas/InventoryFaults.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2011, 2014, Oracle and/or its affiliates. All rights reserved.
    Oracle Corporation and/or its affiliates. Other names may be trademarks of their respective owners. 
-->
<xs:schema targetNamespace="http://xmlns.oracle.com/communications/inventory/webservice/fault" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:invfault="http://xmlns.oracle.com/communications/inventory/webservice/fault" xmlns:appfault="http://xmlns.oracle.com/communications/framework/webservice/fault/v1-0">
	<xs:import namespace="http://www.w3.org/2001/XMLSchema"/>
	<xs:import namespace="http://xmlns.oracle.com/communications/framework/webservice/fault/v1-0" schemaLocation="./FaultRoot.xsd"/>
	<!-- All The Exceptions and Fault Types are defined here  -->
	<xs:complexType name="InventoryFaultType">
		<xs:annotation>
			<xs:documentation>Base Type for faults used in UIM. All unhandled exceptions are translated into Inventory Faults. This fault is used when the API raises any application exceptions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fault" type="appfault:ApplicationFaultType">
				<xs:annotation>
					<xs:documentation>Error messages that are generated by the UIM API.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValidationFaultType">
		<xs:annotation>
			<xs:documentation>Fault Type for indicating a Request Validation/Validation errors in the API.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="invfault:InventoryFaultType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ====================== Simple Element Definitions ================= -->
	<xs:element name="validationFault" type="invfault:ValidationFaultType">
		<xs:annotation>
			<xs:documentation>Validation fault</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inventoryFault" type="invfault:InventoryFaultType">
		<xs:annotation>
			<xs:documentation>Inventory Fault. All unhandled exceptions are translated into Inventory Faults.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>

