data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/UIM/schemas/LogicalDevice.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2011, 2014, Oracle and/or its affiliates. All rights reserved.
    Oracle Corporation and/or its affiliates. Other names may be trademarks of their respective owners. 

    This sample file, which has been provided by Oracle Corporation as part of an Oracle(r) product for use
    ONLY by licensed users of the product, includes CONFIDENTIAL and PROPRIETARY information of Oracle
    Corporation.

    This material is the confidential property of Oracle Corporation or its licensors and may be used,
    reproduced, stored, or transmitted only in accordance with a valid Oracle license or sublicense
    agreement.

    USE OF THIS SOFTWARE IS GOVERNED BY THE TERMS AND CONDITIONS OF THE LICENSE
    AGREEMENT AND LIMITED WARRANTY FURNISHED WITH THE PRODUCT.

    IN PARTICULAR, YOU WILL INDEMNIFY AND HOLD ORACLE CORPORATION, ITS RELATED COMPANIES AND ITS SUPPLIERS,
    HARMLESS FROM AND AGAINST ANY CLAIMS OR LIABILITIES ARISING OUT OF THE USE, REPRODUCTION, OR DISTRIBUTION
    OF YOUR PROGRAMS, INCLUDING ANY CLAIMS OR LIABILITIES ARISING OUT OF OR RESULTING FROM THE USE,
    MODIFICATION, OR DISTRIBUTION OF PROGRAMS OR FILES CREATED FROM, BASED ON, AND/OR DERIVED FROM THIS
    SAMPLE SOURCE CODE FILE.
-->
<xs:schema 
    targetNamespace="http://xmlns.oracle.com/communications/inventory/logicaldevice" 
    xmlns:invld="http://xmlns.oracle.com/communications/inventory/logicaldevice"
    xmlns:invconfig="http://xmlns.oracle.com/communications/inventory/configuration"
    xmlns:invrole="http://xmlns.oracle.com/communications/inventory/role" 
    xmlns:invparty="http://xmlns.oracle.com/communications/inventory/party" 
    xmlns:invplace="http://xmlns.oracle.com/communications/inventory/place" 
    xmlns:invprop="http://xmlns.oracle.com/communications/inventory/property" 
    xmlns:invspec="http://xmlns.oracle.com/communications/inventory/specification" 
    xmlns:invsvc="http://xmlns.oracle.com/communications/inventory/service" 
    xmlns:invbi="http://xmlns.oracle.com/communications/inventory/businessinteraction" 
    xmlns:invent="http://xmlns.oracle.com/communications/inventory/entity" 
    xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
    <!--  ============= Imports Start ================= -->
    <xs:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <!-- Local Imports -->
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/entity" schemaLocation="Entity.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/service" schemaLocation="Service.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/specification" schemaLocation="Specification.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/property" schemaLocation="Property.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/place" schemaLocation="Place.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/party" schemaLocation="Party.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/role" schemaLocation="Role.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/communications/inventory/configuration" schemaLocation="Configuration.xsd"/>
    <!-- ==== Entity Value Types ==== -->
    <xs:complexType name="LogicalDeviceType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the Logical Device
                                Specification information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="id" type="xsd:string" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                id holds the unique id of the Logical
                                Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Description of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="networkLocationEntityCode" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Holds the denormalized values of the combined PropertyLocation.NetworkLocationCode and the NetworkEntityCode.NetworkLocationEntityCode field values for the logical device, including the '.' delimiter if specified based on the system preference. This attribute will be set by the application by the API call, and used internally in the Logical Device search when the user searches for a device by Network/Entity Location. This field value if specified by a caller will be ignored by the APIs.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deviceIdentifier" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Represents a business meaningful identifier for the Logical Device. This field can be populated if the Logical Device has a propertyLocation value. The API will default this field value if the propertyLocation is given and the caller hasn't specified a value. This field must be unique within all logical devices.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Start Date of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                End Date of the Logical Device
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of a Logical Device.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
		    <xs:element name="configuration" type="invconfig:ConfigurationType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration Verions of a Device Interface.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TODO: LogicalDeviceType schema definition -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DeviceInterfaceType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the Device Interface
                                Specification information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="id" type="xsd:string" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                id holds the unique id of the Device
                                Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the Device Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Description of the Device Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the Device Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Start Date of the Device Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                End Date of the Device Interface
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of a Device Interface.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="logicalDevice" type="xs:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                The id of the Logical Device, where this
                                Device Interface is hosted.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
		    <xs:element name="configuration" type="invconfig:ConfigurationType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration Verions of a Device Interface.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TODO: DeviceInterfaceType schema definition -->
					<xs:element name="assignmentState"
                		type="invconfig:AssignmentStateEnum">
                	</xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LogicalDeviceAccountType">
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="specification" type="invspec:SpecificationType" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specification holds the Logical Device
                                Account Specification information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="id" type="xsd:string" nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                id holds the unique id of the Logical
                                Device Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="name" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Name of the Logical Device Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="description" type="xsd:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Description of the Logical Device
                                Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="state" type="invspec:InventoryStateEnum" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Lifecycle State of the Logical Device
                                Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Start Date of the Logical Device Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endDate" type="xsd:dateTime" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                End Date of the Logical Device Account
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="property" type="invprop:PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Property holds the dynamic properties
                                of a Logical Device Account.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="logicalDevice" type="xs:string" nillable="true" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                The id of the Logical Device, where this
                                Logical Device Account is hosted.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="configuration" type="invconfig:ConfigurationType" nillable="true" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration Verions of a LogicalDeviceAccount.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <!-- TODO: LogicalDeviceAccountType schema definition -->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ==== Data Types ==== -->
    <!-- ==== Entity Criteria Types ==== -->
    <xs:complexType name="LogicalDeviceCriteriaType">
        <xs:annotation>
            <xs:documentation>Criteria to uniquely identify a Logical Device.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="logicalDeviceId" type="xsd:string"
                                nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Logical Device Id</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deviceIdentifier" type="xsd:string"
                                nillable="false" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>This is the identifier of the
                                              logical device when it serves as a
                                              network device - meaning it has a
                                              network location code. In the
                                              search, the logicalDeviceId takes
                                              precedence over the
                                              deviceIdentifier. If the
                                              logicalDeviceId and the
                                              deviceIdentifier are given, then
                                              the search will be done using the
                                              logicalDeviceId. If no Logical
                                              Device is found using the
                                              logicalDeviceId, then an error is
                                              returned.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="LogicalDeviceAccountCriteriaType">
        <xs:annotation>
            <xs:documentation>Criteria to uniquely identify a Logical Device.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="invent:EntityType">
                <xs:sequence>
                    <xs:element name="logicalDeviceAccountId" type="xsd:string" nillable="false" minOccurs="0" >
                        <xs:annotation>
                            <xs:documentation>Logical Device Account Id</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- ==== Enumerations ==== -->
    <!-- ==== Elements ==== -->
</xs:schema>
