data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/UIM/schemas/UpdateStatus.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateStatus" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/UpdateStatus" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UpdateStatusInput" type="UpdateStatusInput"/>
   <xs:complexType name="UpdateStatusInput">
      <xs:sequence>
         <xs:element name="Status" type="xs:string" nillable="true"/>
         <xs:element name="MessageID" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>