data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/wsdls/BRMBalServices.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BAL" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
<include schemaLocation="../schemas/TLC_OP_BAL_GET_BALANCES.xsd"/>
<include schemaLocation="../schemas/PCM_OP_BAL_GET_BALANCES.xsd"/>
<include schemaLocation="../schemas/PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC.xsd"/>
<include schemaLocation="../schemas/PCM_OP_BAL_GET_ACCT_BILLINFO.xsd"/>
<include schemaLocation="../schemas/TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC.xsd"/>
<include schemaLocation="../schemas/PCM_OP_BAL_GET_BAL_GRP_AND_SVC.xsd"/>
</schema>
</types>
<message name="TLC_OP_BAL_GET_BALANCES_inmsg">
<part element="brm:TLC_OP_BAL_GET_BALANCES_inputFlist" name="TLC_OP_BAL_GET_BALANCES_inputFlist"/>
</message>
<message name="TLC_OP_BAL_GET_BALANCES_outmsg">
<part element="brm:TLC_OP_BAL_GET_BALANCES_outputFlist" name="TLC_OP_BAL_GET_BALANCES_outputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_BALANCES_inmsg">
<part element="brm:PCM_OP_BAL_GET_BALANCES_inputFlist" name="PCM_OP_BAL_GET_BALANCES_inputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_BALANCES_outmsg">
<part element="brm:PCM_OP_BAL_GET_BALANCES_outputFlist" name="PCM_OP_BAL_GET_BALANCES_outputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inmsg">
<part element="brm:PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inputFlist" name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outmsg">
<part element="brm:PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outputFlist" name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_ACCT_BILLINFO_inmsg">
<part element="brm:PCM_OP_BAL_GET_ACCT_BILLINFO_inputFlist" name="PCM_OP_BAL_GET_ACCT_BILLINFO_inputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_ACCT_BILLINFO_outmsg">
<part element="brm:PCM_OP_BAL_GET_ACCT_BILLINFO_outputFlist" name="PCM_OP_BAL_GET_ACCT_BILLINFO_outputFlist"/>
</message>
<message name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inmsg">
<part element="brm:TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inputFlist" name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inputFlist"/>
</message>
<message name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outmsg">
<part element="brm:TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outputFlist" name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_inmsg">
<part element="brm:PCM_OP_BAL_GET_BAL_GRP_AND_SVC_inputFlist" name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_inputFlist"/>
</message>
<message name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_outmsg">
<part element="brm:PCM_OP_BAL_GET_BAL_GRP_AND_SVC_outputFlist" name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_outputFlist"/>
</message>
<portType name="BRMBALService_ptt">
<operation name="TLC_OP_BAL_GET_BALANCES">
<input message="brm:TLC_OP_BAL_GET_BALANCES_inmsg" name="TLC_OP_BAL_GET_BALANCES_Request"/>
<output message="brm:TLC_OP_BAL_GET_BALANCES_outmsg" name="TLC_OP_BAL_GET_BALANCES_Response"/>
</operation>
<operation name="PCM_OP_BAL_GET_BALANCES">
<input message="brm:PCM_OP_BAL_GET_BALANCES_inmsg" name="PCM_OP_BAL_GET_BALANCES_Request"/>
<output message="brm:PCM_OP_BAL_GET_BALANCES_outmsg" name="PCM_OP_BAL_GET_BALANCES_Response"/>
</operation>
<operation name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC">
<input message="brm:PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inmsg" name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_Request"/>
<output message="brm:PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outmsg" name="PCM_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_Response"/>
</operation>
<operation name="PCM_OP_BAL_GET_ACCT_BILLINFO">
<input message="brm:PCM_OP_BAL_GET_ACCT_BILLINFO_inmsg" name="PCM_OP_BAL_GET_ACCT_BILLINFO_Request"/>
<output message="brm:PCM_OP_BAL_GET_ACCT_BILLINFO_outmsg" name="PCM_OP_BAL_GET_ACCT_BILLINFO_Response"/>
</operation>
<operation name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC">
<input message="brm:TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_inmsg" name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_Request"/>
<output message="brm:TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_outmsg" name="TLC_OP_BAL_GET_ACCT_BAL_GRP_AND_SVC_Response"/>
</operation>
<operation name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC">
<input message="brm:PCM_OP_BAL_GET_BAL_GRP_AND_SVC_inmsg" name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_Request"/>
<output message="brm:PCM_OP_BAL_GET_BAL_GRP_AND_SVC_outmsg" name="PCM_OP_BAL_GET_BAL_GRP_AND_SVC_Response"/>
</operation>
</portType>
<plt:partnerLinkType name="BRMBALService_plt">
<plt:role name="BRMBALService_role">
<plt:portType name="brm:BRMBALService_ptt"/>
</plt:role>
</plt:partnerLinkType>
</definitions>
