data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/wsdls/BRMBillServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:brm="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BILL" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
            <include schemaLocation="../schemas/TWI_OP_BILL_ADJUST_FULL_BILL.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_GROUP_MOVE_MEMBER.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_MAKE_BILL_NOW.xsd"/>
            <include schemaLocation="../schemas/TWI_OP_BILL_MAKE_BILL_NOW.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_GROUP_GET_PARENT.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_DEBIT.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_MAKE_CORRECTIVE_BILL.xsd"/>
            <include schemaLocation="../schemas/TWI_OP_BILL_MAKE_CORRECTIVE_BILL.xsd"/>
            <include schemaLocation="../schemas/PCM_OP_BILL_SET_LIMIT_AND_CR.xsd"/>
			<include schemaLocation="../schemas/TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT.xsd"/>
	     <include schemaLocation="../schemas/TLC_OP_BILL_SET_LIMIT_AND_CR.xsd"/> 
        </schema>
    </types>
    <message name="TWI_OP_BILL_ADJUST_FULL_BILL_inmsg">
        <part element="brm:TWI_OP_BILL_ADJUST_FULL_BILL_inputFlist" name="TWI_OP_BILL_ADJUST_FULL_BILL_inputFlist"/>
    </message>
    <message name="TWI_OP_BILL_ADJUST_FULL_BILL_outmsg">
        <part element="brm:TWI_OP_BILL_ADJUST_FULL_BILL_outputFlist" name="TWI_OP_BILL_ADJUST_FULL_BILL_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg">
        <part element="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_inputFlist" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg">
        <part element="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_outputFlist" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg">
        <part element="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg">
        <part element="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_inmsg">
        <part element="brm:PCM_OP_BILL_MAKE_BILL_NOW_inputFlist" name="PCM_OP_BILL_MAKE_BILL_NOW_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_BILL_NOW_outmsg">
        <part element="brm:PCM_OP_BILL_MAKE_BILL_NOW_outputFlist" name="PCM_OP_BILL_MAKE_BILL_NOW_outputFlist"/>
    </message>
    <message name="TWI_OP_BILL_MAKE_BILL_NOW_inmsg">
        <part element="brm:TWI_OP_BILL_MAKE_BILL_NOW_inputFlist" name="TWI_OP_BILL_MAKE_BILL_NOW_inputFlist"/>
    </message>
    <message name="TWI_OP_BILL_MAKE_BILL_NOW_outmsg">
        <part element="brm:TWI_OP_BILL_MAKE_BILL_NOW_outputFlist" name="TWI_OP_BILL_MAKE_BILL_NOW_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_inmsg">
        <part element="brm:PCM_OP_BILL_GROUP_GET_PARENT_inputFlist" name="PCM_OP_BILL_GROUP_GET_PARENT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_GROUP_GET_PARENT_outmsg">
        <part element="brm:PCM_OP_BILL_GROUP_GET_PARENT_outputFlist" name="PCM_OP_BILL_GROUP_GET_PARENT_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_inmsg">
        <part element="brm:PCM_OP_BILL_DEBIT_inputFlist" name="PCM_OP_BILL_DEBIT_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_DEBIT_outmsg">
        <part element="brm:PCM_OP_BILL_DEBIT_outputFlist" name="PCM_OP_BILL_DEBIT_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_inmsg">
        <part element="brm:PCM_OP_BILL_MAKE_CORRECTIVE_BILL_inputFlist" name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_outmsg">
        <part element="brm:PCM_OP_BILL_MAKE_CORRECTIVE_BILL_outputFlist" name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_outputFlist"/>
    </message>
    <message name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_inmsg">
        <part element="brm:TWI_OP_BILL_MAKE_CORRECTIVE_BILL_inputFlist" name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_inputFlist"/>
    </message>
    <message name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_outmsg">
        <part element="brm:TWI_OP_BILL_MAKE_CORRECTIVE_BILL_outputFlist" name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_outputFlist"/>
    </message>
    <message name="PCM_OP_BILL_SET_LIMIT_AND_CR_inmsg">
        <part element="brm:PCM_OP_BILL_SET_LIMIT_AND_CR_inputFlist" name="PCM_OP_BILL_SET_LIMIT_AND_CR_inputFlist"/>
    </message>
    <message name="PCM_OP_BILL_SET_LIMIT_AND_CR_outmsg">
        <part element="brm:PCM_OP_BILL_SET_LIMIT_AND_CR_outputFlist" name="PCM_OP_BILL_SET_LIMIT_AND_CR_outputFlist"/>
    </message>
	<message name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg">
        <part element="brm:TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist" name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inputFlist"/>
    </message>
	<message name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg">
        <part element="brm:TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist" name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outputFlist"/>
    </message>
    <message name="TLC_OP_BILL_SET_LIMIT_AND_CR_inmsg">
<part element="brm:TLC_OP_BILL_SET_LIMIT_AND_CR_inputFlist" name="TLC_OP_BILL_SET_LIMIT_AND_CR_inputFlist"/>
</message>
<message name="TLC_OP_BILL_SET_LIMIT_AND_CR_outmsg">
<part element="brm:TLC_OP_BILL_SET_LIMIT_AND_CR_outputFlist" name="TLC_OP_BILL_SET_LIMIT_AND_CR_outputFlist"/>
</message>
    <portType name="BRMBILLService_ptt">
        <operation name="PCM_OP_BILL_GROUP_MOVE_MEMBER">
            <input message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_inmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_Request"/>
            <output message="brm:PCM_OP_BILL_GROUP_MOVE_MEMBER_outmsg" name="PCM_OP_BILL_GROUP_MOVE_MEMBER_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT">
            <input message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Request"/>
            <output message="brm:PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg" name="PCM_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Response"/>
        </operation>
		<operation name="TWI_OP_BILL_ADJUST_FULL_BILL">
            <input message="brm:TWI_OP_BILL_ADJUST_FULL_BILL_inmsg" name="TWI_OP_BILL_ADJUST_FULL_BILL_Request"/>
            <output message="brm:TWI_OP_BILL_ADJUST_FULL_BILL_outmsg" name="TWI_OP_BILL_ADJUST_FULL_BILL_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_MAKE_BILL_NOW">
            <input message="brm:PCM_OP_BILL_MAKE_BILL_NOW_inmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_Request"/>
            <output message="brm:PCM_OP_BILL_MAKE_BILL_NOW_outmsg" name="PCM_OP_BILL_MAKE_BILL_NOW_Response"/>
        </operation>
        <operation name="TWI_OP_BILL_MAKE_BILL_NOW">
            <input message="brm:TWI_OP_BILL_MAKE_BILL_NOW_inmsg" name="TWI_OP_BILL_MAKE_BILL_NOW_Request"/>
            <output message="brm:TWI_OP_BILL_MAKE_BILL_NOW_outmsg" name="TWI_OP_BILL_MAKE_BILL_NOW_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_GROUP_GET_PARENT">
            <input message="brm:PCM_OP_BILL_GROUP_GET_PARENT_inmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_Request"/>
            <output message="brm:PCM_OP_BILL_GROUP_GET_PARENT_outmsg" name="PCM_OP_BILL_GROUP_GET_PARENT_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_DEBIT">
            <input message="brm:PCM_OP_BILL_DEBIT_inmsg" name="PCM_OP_BILL_DEBIT_Request"/>
            <output message="brm:PCM_OP_BILL_DEBIT_outmsg" name="PCM_OP_BILL_DEBIT_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL">
            <input message="brm:PCM_OP_BILL_MAKE_CORRECTIVE_BILL_inmsg" name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_Request"/>
            <output message="brm:PCM_OP_BILL_MAKE_CORRECTIVE_BILL_outmsg" name="PCM_OP_BILL_MAKE_CORRECTIVE_BILL_Response"/>
        </operation>
        <operation name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL">
            <input message="brm:TWI_OP_BILL_MAKE_CORRECTIVE_BILL_inmsg" name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_Request"/>
            <output message="brm:TWI_OP_BILL_MAKE_CORRECTIVE_BILL_outmsg" name="TWI_OP_BILL_MAKE_CORRECTIVE_BILL_Response"/>
        </operation>
        <operation name="PCM_OP_BILL_SET_LIMIT_AND_CR">
            <input message="brm:PCM_OP_BILL_SET_LIMIT_AND_CR_inmsg" name="PCM_OP_BILL_SET_LIMIT_AND_CR_Request"/>
            <output message="brm:PCM_OP_BILL_SET_LIMIT_AND_CR_outmsg" name="PCM_OP_BILL_SET_LIMIT_AND_CR_Response"/>
        </operation>
		<operation name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT">
            <input message="brm:TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_inmsg" name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Request"/>
            <output message="brm:TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_outmsg" name="TWI_OP_BILL_GET_ITEM_EVENT_CHARGE_DISCOUNT_Response"/>
        </operation>
	<operation name="TLC_OP_BILL_SET_LIMIT_AND_CR">
<input message="brm:TLC_OP_BILL_SET_LIMIT_AND_CR_inmsg" name="TLC_OP_BILL_SET_LIMIT_AND_CR_Request"/>
<output message="brm:TLC_OP_BILL_SET_LIMIT_AND_CR_outmsg" name="TLC_OP_BILL_SET_LIMIT_AND_CR_Response"/>
</operation>
    </portType>
    <plt:partnerLinkType name="BRMBILLService_plt">
        <plt:role name="BRMBILLService_role">
            <plt:portType name="brm:BRMBILLService_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>
