data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/SIMOTA/schemas/ProcessManufacturerFilesSIMOTAProvider.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/scm/ProcessManufacturerFilesSIMOTAProvider/ProcessManufacturerFilesSIMOTAProvider" xmlns="http://www.w3.org/2001/XMLSchema">
<element name="ItemListType">
<complexType>
<sequence>
<element name="FileName" type="string" minOccurs="1" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
<element name="processResponse">
<complexType>
<sequence>
<element name="result" type="string"/>
<element name="FileName" type="string"/>
</sequence>
</complexType>
</element>
</schema>
