data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/BRM/V1/schemas/PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" xmlns:op="http://www.portal.com/schemas/BusinessOpcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Copyright (c) 2007, 2017, Oracle and/or its affiliates. 
All rights reserved.-->
<!--         This material is the confidential property of Oracle Corporation or
        its licensors and may be used, reproduced, stored or transmitted only
        in accordance with a valid Oracle license or sublicense agreement.-->
   <xsd:element name="PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_inputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="BAL_INFO" minOccurs="0" maxOccurs="1">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="BAL_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12110">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="BILLINFO" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="BILLINFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12112">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12113" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="255"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="END_T" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:dateTime"/>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FROM_BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(balance_group)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="60"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERVICES" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="SERVICES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1219">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="START_T" minOccurs="0" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:dateTime"/>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TO_BAL_GRP_OBJ" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(balance_group)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TO_OBJ" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="SERVICES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1219">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DEALS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DEALS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SERVICE_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DEALS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DEAL_INFO" type="DEAL_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DEAL_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DEAL_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(deal)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221210">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="END_T" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PERMITTEDS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PERMITTEDS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221211">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PLAN_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(plan)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(deal)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1219222129">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="START_T" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1219222129">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CYCLE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CYCLE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CYCLE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="INHERITED_INFO" type="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922212924" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="OVERRIDDEN_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRICE_LIST_NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922212923">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PRODUCT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_DISC_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_FEE_AMT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="QUANTITY" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="STATUS" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_DISCOUNT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="USAGE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922212923">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121922212924">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221210">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CYCLE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CYCLE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CYCLE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CYCLE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DISCOUNT_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PURCHASE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PURCHASE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="QUANTITY" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="STATUS" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_END_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_END_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_END_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_OFFSET" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="USAGE_START_T" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="USAGE_START_UNIT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PERMITTEDS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12192221211">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="OBJ_TYPE" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BAL_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12110">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="LIMIT" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="LIMIT_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211022">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="RULES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="RULES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211023">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="LIMIT_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211022">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CREDIT_FLOOR" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CREDIT_LIMIT" type="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CREDIT_THRESHOLDS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="RULES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211023">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CONSUMPTION_RULE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_UNDEFINED(0)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_EST(1)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LST(2)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_EET(3)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LET(4)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_ESTLET(5)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_ESTEET(6)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LSTEET(7)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LSTLET(8)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_EETEST(9)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_EETLST(10)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LETEST(11)"/>
                  <xsd:enumeration value="PIN_CONSUMPTION_RULE_LETLST(12)"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BILLINFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12112">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ACTG_FUTURE_DOM" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AR_BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLINFO_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLING_SEGMENT" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="101"/>
                  <xsd:enumeration value="102"/>
                  <xsd:enumeration value="103"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLING_STATUS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLING_STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BILL_WHEN" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BUSINESS_PROFILE_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(config/business_profile)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CURRENCY" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CURRENCY_SECONDARY" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EFFECTIVE_T" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PARENT_BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PAYINFO" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PAYINFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12112220">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PAYINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(payinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PAY_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="10001"/>
                  <xsd:enumeration value="10003"/>
                  <xsd:enumeration value="10005"/>
                  <xsd:enumeration value="10007"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SPONSOREE_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SPONSOR_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="STATUS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="10100"/>
                  <xsd:enumeration value="10102"/>
                  <xsd:enumeration value="10103"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATUS_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PAYINFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12112220">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CURRENCY" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="INHERITED_INFO" type="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211222028" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="INV_TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0x01"/>
                  <xsd:enumeration value="0x02"/>
                  <xsd:enumeration value="0x04"/>
                  <xsd:enumeration value="0x08"/>
                  <xsd:enumeration value="0x10"/>
                  <xsd:enumeration value="0x20"/>
                  <xsd:enumeration value="0x40"/>
                  <xsd:enumeration value="0x18"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PARENT" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PAYMENT_TERM" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PAY_TYPE" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="10000"/>
                  <xsd:enumeration value="10001"/>
                  <xsd:enumeration value="10002"/>
                  <xsd:enumeration value="10003"/>
                  <xsd:enumeration value="10005"/>
                  <xsd:enumeration value="10005"/>
                  <xsd:enumeration value="10006"/>
                  <xsd:enumeration value="10007"/>
                  <xsd:enumeration value="10011"/>
                  <xsd:enumeration value="10012"/>
                  <xsd:enumeration value="10013"/>
                  <xsd:enumeration value="10014"/>
                  <xsd:enumeration value="10015"/>
                  <xsd:enumeration value="10016"/>
                  <xsd:enumeration value="10017"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(payinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="INHERITED_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1211222028">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CC_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="CC_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202822">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="DD_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DD_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202823">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="INV_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="INV_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202821">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SUBORD_INFO" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="SUBORD_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202824">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="INV_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202821">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CITY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COUNTRY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DELIVERY_DESCR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DELIVERY_PREFER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EMAIL_ADDR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="INV_INSTR" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1023"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="INV_TERMS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ZIP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CC_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202822">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CITY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COUNTRY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DEBIT_EXP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DEBIT_NUM" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="SECURITY_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ZIP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DD_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202823">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ADDRESS" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BANK_NO" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CITY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="COUNTRY" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DEBIT_NUM" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="NAME" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="STATE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="90"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TYPE" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ZIP" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="SUBORD_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_121122202824">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="AR_ACCOUNT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_12113">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_outputFlist">
      <xsd:complexType>
         <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="CONTEXT_INFO" type="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1313" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(event/audit/service_balgrp_transfer)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                     <xsd:pattern value=""/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESULTS" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:complexContent>
                     <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312">
                        <xsd:attribute name="elem" type="xsd:string"/>
                     </xsd:extension>
                  </xsd:complexContent>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(balance_group)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DEALS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DEALS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_131226">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PAYINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(payinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="RESULTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_131225">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SERVICE_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_131225">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="ACTION_INFO" minOccurs="0" maxOccurs="2">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="ACTION_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122524">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="FROM_SERVICE" type="FROM_SERVICE_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122521" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PROFILES" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PROFILES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122523">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="TO_SERVICE" type="TO_SERVICE_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122522" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PROFILES_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122523">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="PROFILE_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(profile)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TO_PROFILE_OBJ" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(profile)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="ACTION_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122524">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BUNDLE_INFO" minOccurs="0" maxOccurs="256">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="BUNDLE_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312252422">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="OFFER" minOccurs="1" maxOccurs="256">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="OFFER_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312252421">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="OFFER_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312252421">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUNDLE_INFO_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1312252422">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_bundle)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="FROM_SERVICE_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122521">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(balance_group)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="TO_SERVICE_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122522">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="BAL_GRP_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(balance_group)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BILLINFO_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(billinfo)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(service)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DEALS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_131226">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DISCOUNTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122623">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="POID" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PRODUCTS" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122622">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="RESULTS" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122624">
                     <xsd:attribute name="elem" type="xsd:string"/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="PRODUCTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122622">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_product)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PRODUCT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(product)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="DISCOUNTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122623">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="DISCOUNT_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OFFERING_OBJ" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(purchased_discount)((/)*([a-zA-Z_]*))*))(\s)+[\-]*[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="RESULTS_ARRAY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_13122624">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes" processContents="skip"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CONTEXT_INFO_SUBSTRUCT_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER_1313">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
         <xsd:element name="CORRELATION_ID" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="EXTERNAL_USER" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="128"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="BUFFER_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
      <xsd:simpleContent>
         <xsd:extension base="xsd:hexBinary">
            <xsd:attribute name="flags" type="xsd:string" use="optional"/>
            <xsd:attribute name="size" type="xsd:string" use="optional"/>
            <xsd:attribute name="offset" type="xsd:string" use="optional"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EMPTY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
      <xsd:restriction base="xsd:string">
         <xsd:length value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UNION_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER">
      <xsd:union memberTypes="xsd:decimal EMPTY_PCM_OP_SUBSCRIPTION_SERVICE_BALGRP_TRANSFER"/>
   </xsd:simpleType>
</xsd:schema>