data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/CNDB/schemas/prov-gw-spml-2.0.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:spml="urn:siemens:names:prov:gw:SPML:2:0" targetNamespace="urn:siemens:names:prov:gw:SPML:2:0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0">
<xsd:import namespace="urn:siemens:names:prov:gw:SUBSCRIBER:1:0" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/CNDB/schemas/subscriber-1.0.xsd"/>
<xsd:complexType name="Attribute">
<xsd:sequence>
<xsd:element name="key" type="xsd:string"/>
<xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Attributes">
<xsd:sequence>
<xsd:element name="attributes" type="spml:Attribute" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ExtensibleObject">
<xsd:annotation>
<xsd:documentation>Abstract base class for all object classes
                               (FCO/SCO)</xsd:documentation>
</xsd:annotation>
</xsd:complexType>
<xsd:complexType name="FirstClassObject">
<xsd:annotation>
<xsd:documentation>Abstract base class for first class objects</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="spml:ExtensibleObject">
<xsd:sequence>
<xsd:element name="identifier" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecondClassObject">
<xsd:annotation>
<xsd:documentation>Abstract base class for second class objects</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="spml:ExtensibleObject"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SecondClassObjects">
<xsd:sequence>
<xsd:element name="objects" type="spml:SecondClassObject" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="ExecutionType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="synchronous"/>
<xsd:enumeration value="asynchronous"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ResultCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="success"/>
<xsd:enumeration value="failure"/>
<xsd:enumeration value="pending"/>
<xsd:enumeration value="partial_success"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ProcessingType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="sequential"/>
<xsd:enumeration value="parallel"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="OnErrorType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="resume"/>
<xsd:enumeration value="exit_commit"/>
<xsd:enumeration value="exit_rollback"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ModifyOperationType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="add"/>
<xsd:enumeration value="addorset"/>
<xsd:enumeration value="remove"/>
<xsd:enumeration value="set"/>
<xsd:enumeration value="setoradd"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="CancelResultType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="noSuchRequest"/>
<xsd:enumeration value="canceled"/>
<xsd:enumeration value="couldNotCancel"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="StatusReturnsType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="status"/>
<xsd:enumeration value="result"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ReturnResultingObjectType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="none"/>
<xsd:enumeration value="full"/>
<xsd:enumeration value="identifier"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ModificationTypeMappingScope">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="uniqueTypeMapping"/>
<xsd:enumeration value="abstractTypeMapping"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SpmlModification">
<xsd:sequence>
<xsd:element name="match" type="spml:ExtensibleObject" minOccurs="0"/>
<xsd:element name="valueObject" type="spml:ExtensibleObject" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="operation" type="spml:ModifyOperationType" use="required"/>
<xsd:attribute name="name" type="xsd:string" use="optional"/>
<xsd:attribute name="index" type="xsd:int" use="optional"/>
<xsd:attribute name="strictMatch" type="xsd:boolean" use="optional"/>
<xsd:attribute name="scope" type="spml:ModificationTypeMappingScope" default="uniqueTypeMapping"/>
</xsd:complexType>
<xsd:simpleType name="LanguageType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="en_en"/>
<xsd:enumeration value="en_us"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ErrorType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="informational"/>
<xsd:enumeration value="warning"/>
<xsd:enumeration value="error"/>
<xsd:enumeration value="fatal"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ErrorActionCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="retry"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ErrorRecomendation">
<xsd:sequence>
<xsd:element name="actionCode" type="spml:ErrorActionCode"/>
<xsd:element name="actionDelay" type="xsd:int" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ErrorHintInfo">
<xsd:sequence>
<xsd:element name="partialSpmlRequest" type="xsd:string" minOccurs="0"/>
<xsd:sequence>
<xsd:element name="ldapRequest" type="xsd:string" maxOccurs="unbounded"/>
<xsd:element name="ldapResponse" type="xsd:string" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ValidationErrorHintInfo">
<xsd:sequence>
<xsd:element name="location" type="xsd:string"/>
<xsd:element name="itemName" type="xsd:string"/>
<xsd:element name="violationDetail" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ErrorHint">
<xsd:sequence>
<xsd:element name="spmlRequest" type="spml:SpmlRequest" minOccurs="0"/>
<xsd:element name="ldapInfo" type="spml:ErrorHintInfo" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="validationInfo" type="spml:ValidationErrorHintInfo" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SearchStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="completeResult"/>
<xsd:enumeration value="maxSizeExceeded"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SpmlRequest">
<xsd:sequence>
<xsd:element name="operationalAttributes" type="spml:Attributes" minOccurs="0"/>
<xsd:element name="version" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="requestID" type="xsd:string" use="optional"/>
<xsd:attribute name="newGenerated" type="xsd:boolean" use="optional"/>
<xsd:attribute name="execution" type="spml:ExecutionType" use="optional"/>
<xsd:attribute name="callback" type="xsd:string" use="optional"/>
<xsd:attribute name="language" type="spml:LanguageType" use="optional"/>
<xsd:attribute name="timestamp" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:complexType name="SpmlResponse">
<xsd:sequence>
<xsd:element name="operationalAttributes" type="spml:Attributes" minOccurs="0"/>
<xsd:element name="version" type="xsd:string"/>
<xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
<xsd:element name="errorHint" type="spml:ErrorHint" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="errorRecomendation" type="spml:ErrorRecomendation" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="result" type="spml:ResultCode" use="required"/>
<xsd:attribute name="requestID" type="xsd:string" use="optional"/>
<xsd:attribute name="errorType" type="spml:ErrorType" use="optional"/>
<xsd:attribute name="errorCode" type="xsd:string" use="optional"/>
<xsd:attribute name="language" type="spml:LanguageType" use="optional"/>
<xsd:attribute name="executionTime" type="xsd:long" use="required"/>
<xsd:attribute name="timestamp" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="SpmlResponseConfirmation">
<xsd:attribute name="result" type="xsd:int" use="required"/>
<xsd:attribute name="requestID" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="BatchableRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BatchableResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AddRequest">
<xsd:complexContent>
<xsd:extension base="spml:BatchableRequest">
<xsd:sequence>
<xsd:element name="object" type="spml:FirstClassObject"/>
</xsd:sequence>
<xsd:attribute name="returnResultingObject" type="spml:ReturnResultingObjectType" default="none"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AddResponse">
<xsd:complexContent>
<xsd:extension base="spml:BatchableResponse">
<xsd:sequence>
<xsd:element name="resultingObject" type="spml:FirstClassObject" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ModifyRequest">
<xsd:complexContent>
<xsd:extension base="spml:BatchableRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="identifier" type="spml:Identifier"/>
<xsd:element name="modification" type="spml:SpmlModification" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="returnResultingObject" type="spml:ReturnResultingObjectType" default="none"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ModifyResponse">
<xsd:complexContent>
<xsd:extension base="spml:BatchableResponse">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="identifier" type="spml:Identifier"/>
<xsd:element name="resultingObject" type="spml:FirstClassObject" minOccurs="0"/>
<xsd:element name="modification" type="spml:SpmlModification" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DeleteRequest">
<xsd:complexContent>
<xsd:extension base="spml:BatchableRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="identifier" type="spml:Identifier"/>
</xsd:sequence>
<xsd:attribute name="returnResultingObject" type="spml:ReturnResultingObjectType" default="none"/>
<xsd:attribute name="deleteScope" type="xsd:string" default="all"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DeleteResponse">
<xsd:complexContent>
<xsd:extension base="spml:BatchableResponse">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="identifier" type="spml:Identifier"/>
<xsd:element name="resultingObject" type="spml:FirstClassObject" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BatchRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="request" type="spml:BatchableRequest" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="processing" type="spml:ProcessingType" use="optional" default="sequential"/>
<xsd:attribute name="onError" type="spml:OnErrorType" use="optional" default="exit_rollback"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BatchResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="response" type="spml:BatchableResponse" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CancelRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="cancelRequestId" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CancelResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="cancelRequestId" type="xsd:string"/>
<xsd:element name="cancelResult" type="spml:CancelResultType"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="StatusRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:attribute name="statusReturns" type="spml:StatusReturnsType" use="optional" default="result"/>
<xsd:attribute name="requestedId" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="StatusResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="requestedResponse" type="spml:SpmlResponse" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AliasType">
<xsd:attribute name="name" type="xsd:string" use="required"/>
<xsd:attribute name="value" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="SearchBase">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="alias" type="spml:AliasType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Filter">
<xsd:choice>
<xsd:element name="and" type="spml:FilterSet" minOccurs="0"/>
<xsd:element name="or" type="spml:FilterSet" minOccurs="0"/>
<xsd:element name="not" type="spml:Filter" minOccurs="0"/>
<xsd:element name="equalityMatch" type="spml:AttributeValueAssertion" minOccurs="0"/>
<xsd:element name="substrings" type="spml:SubstringFilter" minOccurs="0"/>
<xsd:element name="greaterOrEqual" type="spml:AttributeValueAssertion" minOccurs="0"/>
<xsd:element name="lessOrEqual" type="spml:AttributeValueAssertion" minOccurs="0"/>
<xsd:element name="present" type="spml:AttributeDescription" minOccurs="0"/>
</xsd:choice>
</xsd:complexType>
<xsd:complexType name="FilterSet">
<xsd:sequence maxOccurs="unbounded">
<xsd:choice>
<xsd:element name="and" type="spml:FilterSet" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="or" type="spml:FilterSet" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="not" type="spml:Filter" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="equalityMatch" type="spml:AttributeValueAssertion" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="substrings" type="spml:SubstringFilter" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="greaterOrEqual" type="spml:AttributeValueAssertion" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="lessOrEqual" type="spml:AttributeValueAssertion" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="present" type="spml:AttributeDescription" minOccurs="0" maxOccurs="unbounded"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AttributeValueAssertion">
<xsd:sequence>
<xsd:element name="value" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="AttributeDescription">
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="SubstringFilter">
<xsd:sequence>
<xsd:element name="initial" type="xsd:string" minOccurs="0"/>
<xsd:element name="any" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="final" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="SearchRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="base" type="spml:SearchBase"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0" maxOccurs="1"/>
<xsd:element name="identifierListName" type="spml:IdentifierFileNameType" minOccurs="0"/>
<xsd:sequence>
<xsd:element name="returnAttribute" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SearchResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="objects" type="spml:FirstClassObject" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="searchStatus" type="spml:SearchStatus" use="optional" default="completeResult"/>
<xsd:attribute name="responseFileStatus" type="spml:ResponseFileStatus" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ChangeIdRequest">
<xsd:complexContent>
<xsd:extension base="spml:BatchableRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="oldId" type="spml:ID"/>
<xsd:element name="newId" type="spml:ID"/>
</xsd:sequence>
<xsd:attribute name="returnResultingObject" type="spml:ReturnResultingObjectType" default="none"/>
<xsd:attribute name="changeIdProceeding" type="xsd:string" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ChangeIdResponse">
<xsd:complexContent>
<xsd:extension base="spml:BatchableResponse">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="oldId" type="spml:ID"/>
<xsd:element name="newId" type="spml:ID"/>
<xsd:element name="resultingObject" type="spml:FirstClassObject" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BulkOperationType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="modify"/>
<xsd:enumeration value="delete"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="BulkRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0" maxOccurs="1"/>
<xsd:element name="identifierRangeFilename" type="spml:IdentifierFileNameType" minOccurs="0"/>
<xsd:element name="modification" type="spml:SpmlModification" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="operation" type="spml:BulkOperationType" use="required"/>
<xsd:attribute name="deleteScope" type="xsd:string" use="optional"/>
<xsd:attribute name="returnResultingObject" type="spml:ReturnResultingObjectType" default="identifier"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BulkResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="resultingFilename" type="xsd:string"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0" maxOccurs="1"/>
<xsd:element name="modification" type="spml:SpmlModification" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="operation" type="spml:BulkOperationType"/>
<xsd:attribute name="deleteScope" type="xsd:string" use="optional"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BulkResponseFile">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="numberOfAffectedObjects" type="xsd:int"/>
<xsd:element name="numberOfSuccessfullOperations" type="xsd:int"/>
<xsd:element name="modifyResponse" type="spml:ModifyResponse" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="deleteResponse" type="spml:DeleteResponse" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ID">
<xsd:simpleContent>
<xsd:extension base="xsd:string"/>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="Identifier">
<xsd:simpleContent>
<xsd:extension base="spml:ID">
<xsd:attribute name="alias" type="xsd:string" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="IdentifierFilterType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="positive"/>
<xsd:enumeration value="negative"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="IdentifierFileNameType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="alias" type="xsd:string" use="optional"/>
<xsd:attribute name="filterType" type="spml:IdentifierFilterType" default="positive" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AbstractMigration">
<xsd:attribute name="application" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="MigrationRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0"/>
<xsd:element name="migration" type="spml:AbstractMigration"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MigrationResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="affectedEntities" type="xsd:int" minOccurs="0"/>
<xsd:element name="successfullyMigrated" type="xsd:int" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="application" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MigrationOperationResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="identifier" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="ResponseFileStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="partialResult"/>
<xsd:enumeration value="finalResult"/>
<xsd:enumeration value="completeResult"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="AbstractOperation">
<xsd:attribute name="type" type="xsd:string" use="required"/>
</xsd:complexType>
<xsd:complexType name="ExtendedBulkRequest">
<xsd:complexContent>
<xsd:extension base="spml:SpmlRequest">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0" maxOccurs="1"/>
<xsd:element name="identifierRangeFilename" type="spml:IdentifierFileNameType" minOccurs="0"/>
<xsd:element name="bulkOperation" type="spml:AbstractOperation"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ExtendedBulkResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="objectclass" type="xsd:string"/>
<xsd:element name="resultingFilename" type="xsd:string"/>
<xsd:element name="filter" type="spml:Filter" minOccurs="0" maxOccurs="1"/>
<xsd:element name="bulkOperation" type="spml:AbstractOperation"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ExtendedBulkOperationResponse">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="identifier" type="xsd:string" minOccurs="0"/>
<xsd:element name="timestamp" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ExtendedBulkResponseFile">
<xsd:complexContent>
<xsd:extension base="spml:SpmlResponse">
<xsd:sequence>
<xsd:element name="numberOfAffectedObjects" type="xsd:int"/>
<xsd:element name="numberOfSuccessfullOperations" type="xsd:int"/>
<xsd:element name="response" type="spml:ExtendedBulkOperationResponse" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ExtendedRequest">
<xsd:complexContent>
<xsd:extension base="spml:BatchableRequest">
<xsd:sequence>
<xsd:element name="operation" type="spml:AbstractOperation"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ExtendedResponse">
<xsd:complexContent>
<xsd:extension base="spml:BatchableResponse">
<xsd:sequence>
<xsd:element name="operation" type="spml:AbstractOperation"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="addRequest" type="spml:AddRequest"/>
<xsd:element name="addResponse" type="spml:AddResponse"/>
<xsd:element name="modifyRequest" type="spml:ModifyRequest"/>
<xsd:element name="modifyResponse" type="spml:ModifyResponse"/>
<xsd:element name="deleteRequest" type="spml:DeleteRequest"/>
<xsd:element name="deleteResponse" type="spml:DeleteResponse"/>
<xsd:element name="searchRequest" type="spml:SearchRequest"/>
<xsd:element name="searchResponse" type="spml:SearchResponse"/>
<xsd:element name="cancelRequest" type="spml:CancelRequest"/>
<xsd:element name="cancelResponse" type="spml:CancelResponse"/>
<xsd:element name="statusRequest" type="spml:StatusRequest"/>
<xsd:element name="statusResponse" type="spml:StatusResponse"/>
<xsd:element name="batchRequest" type="spml:BatchRequest"/>
<xsd:element name="batchResponse" type="spml:BatchResponse"/>
<xsd:element name="changeIdRequest" type="spml:ChangeIdRequest"/>
<xsd:element name="changeIdResponse" type="spml:ChangeIdResponse"/>
<xsd:element name="responseConfirmation" type="spml:SpmlResponseConfirmation"/>
<xsd:element name="bulkRequest" type="spml:BulkRequest"/>
<xsd:element name="bulkResponse" type="spml:BulkResponse"/>
<xsd:element name="bulkResponseFile" type="spml:BulkResponseFile"/>
<xsd:element name="extendedBulkRequest" type="spml:ExtendedBulkRequest"/>
<xsd:element name="extendedBulkOperationResponse" type="spml:ExtendedBulkOperationResponse"/>
<xsd:element name="extendedBulkResponse" type="spml:ExtendedBulkResponse"/>
<xsd:element name="extendedBulkResponseFile" type="spml:ExtendedBulkResponseFile"/>
<xsd:element name="migrationRequest" type="spml:MigrationRequest"/>
<xsd:element name="migrationOperationResponse" type="spml:MigrationOperationResponse"/>
<xsd:element name="migrationResponse" type="spml:MigrationResponse"/>
<xsd:element name="extendedRequest" type="spml:ExtendedRequest"/>
<xsd:element name="extendedResponse" type="spml:ExtendedResponse"/>
</xsd:schema>
