data/AIAMetaData/AIAComponents/ApplicationConnectorServiceLibrary/C2B/RequesterABCS/QueryTopUpHistoryC2BReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="QueryTopUpHistoryC2BReqABCSImpl"
             targetNamespace="http://xmlns.oracle.com/ABCSImpl/C2B/Industry/Comms/QueryTopUpHistoryC2BReqABCSImpl/V1"
	     
	     
	     xmlns:qutopabo="http://www.telia.org/c2b/queryTopUpHistory"
             xmlns:qutopabcs="http://xmlns.oracle.com/ABCSImpl/C2B/Industry/Comms/QueryTopUpHistoryC2BReqABCSImpl/V1"
	     xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
             xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >
	
	
	<documentation>
		<svcdoc:Service>
		               <svcdoc:Description>

</svcdoc:Description>
		               
			<svcdoc:ServiceType>RequesterABCSImpl</svcdoc:ServiceType>
			<svcdoc:Version>1</svcdoc:Version>
			<svcdoc:ProductCode>Agile</svcdoc:ProductCode>
		</svcdoc:Service>
	</documentation>  
	
	 <import namespace="http://schemas.oracle.com/bpel/extension" 
 location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
	 <types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
	            <import namespace="http://www.telia.org/c2b/queryTopUpHistory" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/C2B/QueryTopUpHistory.xsd"/>
             
		
	  
		</schema>
	</types>
	<message name="QueryTopUpHistoryReqMsg">
		<part name="QueryTopUpHistory" 
element="qutopabo:QueryTopUpHistoryRequest"/>
	</message>
	<message name="QueryTopUpHistoryRespMsg">
		<part name="QueryTopUpHistoryResponse" 
element="qutopabo:QueryTopUpHistoryResponse"/>
	</message>
  <message name="QueryTopUpHistoryFaultMsg">
		<part name="QueryTopUpHistoryFault" 
element="qutopabo:QueryTopUpHistoryFault"/>
	</message>
	<portType name="QueryTopUpHistoryC2BReqABCSImpl">
        <operation name="QueryTopUpHistory">
                <documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operation is used to Query an TopUpHistory
                              object</svcdoc:Description>
					<svcdoc:MEP>SyncReqResp</svcdoc:MEP>
				</svcdoc:Operation>
			</documentation>
			<input message="qutopabcs:QueryTopUpHistoryReqMsg"/>
				<output message="qutopabcs:QueryTopUpHistoryRespMsg"/>
        <fault message="qutopabcs:QueryTopUpHistoryFaultMsg" name="QueryTopUpHistoryFault"/>
		</operation>
	   
	    </portType>
	<plnk:partnerLinkType name="QueryTopUpHistoryC2BReqABCSImpl">
		<plnk:role name="QueryTopUpHistoryC2BReqABCSImplProvider">
			<plnk:portType name="qutopabcs:QueryTopUpHistoryC2BReqABCSImpl"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
