data/AIAMetaData/AIAComponents/ApplicationObjectLibrary/OSM/V1/CreateTroubleTicketCustomRespOSMCFSCommsJMSProducer.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Industry/Comms/CreateTroubleTicketCustomRespOSMCFSCommsJMSProducer/V1" xmlns="http://www.w3.org/2001/XMLSchema">
<element name="CreateTroubleTicketCustomRespOSMCFSCommsJMSProducerProcessRequest">
<complexType>
<sequence>
<element name="input" type="string"/>
</sequence>
</complexType>
</element>
<element name="CreateTroubleTicketCustomRespOSMCFSCommsJMSProducerProcessResponse">
<complexType>
<sequence>
<element name="result" type="string"/>
</sequence>
</complexType>
</element>
</schema>
